# Python
__pycache__/
*.pyc
*.pyo

# Conda / env
.env
.venv
env/
terraforge/

# Data (MUY IMPORTANTE)
*.tif
*.tiff
*.zip
*.gpkg
*.shp
*.dbf
*.shx
*.cpg

# Outputs
tmp/
outputs/
logs/
*.log
data/raw/
*.pkl
.pytest_cache/
models/

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db
